<p style="color: green"><%= notice %></p>

<h1>Todo items</h1>

<div id="todo_items">
  <% @todo_items.each do |todo_item| %>
    <%= render todo_item %>
    <p>
      <%= link_to "Show this todo item", todo_list_todo_item_path(@todo_list, todo_item) %>
    </p>
  <% end %>
</div>

<%= link_to "New todo item", new_todo_list_todo_item_path %>
